dnspython~=2.3.0
trio~=0.22.0
idna~=2.10
requests~=2.25.1
cryptography~=38.0.1
pytest~=6.1.2
h11~=0.14.0
pip~=22.3.1
attrs~=21.4.0
wheel~=0.38.4
Jinja2~=3.1.2
amqp~=5.1.1
vine~=5.0.0
Mako~=1.2.4
Babel~=2.12.1
MarkupSafe~=2.1.1
pytz~=2023.3
outcome~=1.2.0
sniffio~=1.3.0
exceptiongroup~=1.1.1
sortedcontainers~=2.4.0
cffi~=1.15.1
PyYAML~=6.0
multidict~=6.0.4
setuptools~=65.6.3
Werkzeug~=2.2.3
click~=8.1.3
itsdangerous~=2.1.2
geopy~=2.3.0
aiohttp~=3.8.4
yarl~=1.8.2
geographiclib~=2.0
kombu~=5.2.4
billiard~=3.6.4.0
redis~=4.5.4
SQLAlchemy~=1.3.24
isodate~=0.6.1
Brotli~=1.0.9
numpy~=1.22.1
six~=1.12.0
py~=1.11.0
webencodings~=0.5.1
packaging~=21.3
bleach~=3.3.1
celery~=5.2.7
pandas~=1.3.5
python-dateutil~=2.8.2
pyarrow~=5.0.0
gunicorn~=20.1.0
aiosignal~=1.3.1
frozenlist~=1.3.3
alembic~=1.9.4
marshmallow~=3.19.0
apispec~=5.2.2
backoff~=2.2.1
certifi~=2021.10.8
PyMeeus~=0.5.12
wcwidth~=0.2.6
WTForms~=3.0.1
cachelib~=0.4.1
croniter~=1.3.8
holidays~=0.14.2
convertdate~=2.4.0
humanize~=4.6.0
Markdown~=3.4.3
pgsanity~=0.2.9
polyline~=2.0.0
selenium~=4.8.3
urllib3~=1.26.8
sqlparse~=0.3.0
colorama~=0.4.6
Flask~=2.2.3
simplejson~=3.18.4
parsedatetime~=2.6
pyparsing~=3.0.7
PyJWT~=2.6.0
msgpack~=1.0.5
hashids~=1.3.1
deprecation~=2.1.0
pycparser~=2.21
jsonschema~=4.17.3
pyrsistent~=0.19.3
zipp~=3.15.0
bcrypt~=4.0.0
wsproto~=1.2.0
prison~=0.2.1